@model Chapter1.models.Role
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<li>@Html.ActionLink("Create new role", "Create", "Role")</li>
<li>@Html.ActionLink("Delete role", "Delete", "Role")</li>